Checks: >
    -*,
    misc-*,
    cert-*,
    bugprone-*,
    cppcoreguidelines-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    
    # Explicitly disable some checks that might be noisy
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-pro-type-member-init,
    -modernize-use-auto,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -modernize-use-trailing-return-type,
    -readability-function-size,
    -readability-magic-numbers,
    -readability-identifier-length,
    -readability-avoid-const-params-in-decls,
    
WarningsAsErrors: ''

FormatStyle: none

# CheckOptions:
    
HeaderFilterRegex: ''

SystemHeaders: false

InheritParentConfig: false
